<footer class="bg-dark border-top text-white mt-5 p-4 text-center shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <a href="https://unlp.edu.ar/institucional/secretaria_relaciones_institucionales/relaciones-internacionales/prosecretaria_de_relaciones_internacionales_universitarias-14-5014/" class="text-white">
                    Prosecretaría de Relaciones Internacionales - Universidad Nacional de La Plata
                </a>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <a href="https://whatsapp.com/channel/0029VaFuRfEG3R3e66hbNg2R"
                   class="text-white me-2">{% include "icons/whatsapp.html" %}</a>
            </div>
            <div class="col-md-4">
                <h5>Siguenos En</h5>
                <a href="https://www.instagram.com/internacionalesunlp/"
                   class="text-white me-2">{% include "icons/instagram.html" %}</a>
                <a href="https://www.facebook.com/unlp.edu"
                   class="text-white me-2">{% include "icons/facebook.html" %}</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="mb-0">&copy; 2024 Universidad Nacional de La Plata Av. 7 N° 776, La Plata (CP 1900), Buenos Aires, Argentina. <br> </p>
            </div>
        </div>
    </div>
</footer>
