<nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/logo-unlp.png') }}"
         width="200"
         height="70"
         alt="Logo UNLP"
         class="p-2 m-1" />
  </a>
  <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if is_authenticated(session) %}
        {% if check_permiso(session, 'alumno') %}
          <li class="nav-item active">
            <a class="nav-link" href=" {{ url_for('postulacion.repostulacion') }} ">Repostulación</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('postulacion.mis_postulaciones')}}">Mis Postulaciones</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('alumnos_bp.ver_detalle_alumno', id_alumno=get_id_alumno_sesion(session)) }}">Información Personal</a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('postulacion.listar_postulaciones') }}">Postulaciones</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('alumnos_bp.listar_alumnos') }}">Alumnos Entrantes</a>
          </li>
          {% if check_permiso(session, 'usuarios_listar') %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('usuarios.listar') }}">Usuarios</a>
            </li>
          {% endif %}
          {% if check_permiso(session, 'facultades_listar') %}
            <li class="nav-item active">
              <a class="nav-link" href="/facultades">Facultades</a>
            </li>
          {% endif %}
          {% if check_permiso(session, 'archivo_listar') %}
            <li class="nav-item active">
              <a class="nav-link" href="/facultades">Archivos Base</a>
            </li>
          {% endif %}
          {% if check_permiso(session, 'solicitud_postulacion_listar') %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('postulacion.acciones_pendientes_presidencia') }}">Acciones Pendientes ({{len(postulaciones_pendientes_presidencia())}})</a>
            </li>
          {% elif check_permiso(session, 'punto_focal') %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('postulacion.acciones_pendientes_focal') }}">Acciones Pendientes ({{len(postulaciones_pendientes_focal(session["user_id"]))}})</a>
            </li>
          {% endif %}
          {% if check_permiso(session, 'habilitar_periodo_postulacion') %}
            {% if periodo_actual() %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('postulacion.periodo_postulacion_toggle')}}">Deshabilitar postulaciones</a>
              </li>
            {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('postulacion.periodo_postulacion_toggle')}}">Habilitar postulaciones</a>
              </li>
            {% endif %}
          {% endif %}
        {% endif %}
        <li class="nav-item toggle-hidden" style="display: none;">
          <a class="dropdown-item text-success" href="{{ url_for('usuarios.ver_detalle_usuario', id_usuario=get_id_sesion(session)) }}">
            Ver perfil
            {% include "icons/person-fill-gear.html" %}
          </a>
        </li>
        <li class="nav-item toggle-hidden" style="display: none;">
          <a class="nav-link text-danger" href="{{ url_for('auth.logout') }}">
            Cerrar Sesión
            {% include "icons/x-octagon-fill.html" %}
          </a>
        </li>
        {% for link in links %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
      <span class="nav-item dropdown toggle-hidden show px-5">
        <a class="nav-link dropdown-toggle"
        href="#"
        id="userDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        {% include "icons/person-circle.html" %}
        {{ session['user_name'] }}
      </a>
      <ul class="dropdown-menu dropdown-menu-end"
      aria-labelledby="userDropdown"
      style="min-width: 150px;">
      <li>
        <a class="dropdown-item text-success" href="{{ url_for('usuarios.ver_detalle_usuario', id_usuario=get_id_sesion(session)) }}">
          Ver perfil
          {% include "icons/person-fill-gear.html" %}
        </a>
      </li>
      <li>
        <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">
          Cerrar Sesión
          {% include "icons/x-octagon-fill.html" %}
        </a>
      </li>
    </ul>
  </span>
  {% else %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('auth.login')}}">Iniciar Sesion</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="http://localhost:5173">Volver</a>
  </li>
  {% endif %}
</div>
</nav>

<style>
  .navbar {
    background-color: #e2e6ea;  /* Gris un poco más oscuro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  }

  .nav-link {
    color: #333;  /* Color de texto oscuro */
  }

  .nav-link:hover {
    border-bottom: 1px solid #000;  /* Efecto hover */
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var navbar = document.getElementById('navbarNav');
    var toggleHiddenElements = document.querySelectorAll('.toggle-hidden');

    function toggleHiddenDisplay() {
      toggleHiddenElements.forEach(function (element) {
        if (element.style.display === 'none') {
          element.style.display = 'block';
        } else {
          element.style.display = 'none';
        }
      });
    }

    navbar.addEventListener('hidden.bs.collapse', function () {
      console.log('Navbar has collapsed');
      toggleHiddenDisplay();
    });

    navbar.addEventListener('show.bs.collapse', function () {
      console.log('Navbar has expanded');
      toggleHiddenDisplay();
    });
  });
</script>
