flask
psycopg2-binary==2.9.9
sqlalchemy==2.0.35
flask-session==0.8.0
flask-bcrypt==1.0.1
flask-sqlalchemy==3.1.1
python-dotenv==1.0.1
mysqlclient
flask-wtf==1.2.1
wtforms==3.1.2
minio==7.2.9
bcrypt==4.2.0
requests>=2.31.0