{% extends "layout.html" %}

{% block title %}Detalle de la Postulación{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        /* Estilos personalizados */
        .card {
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #6c757f; /* Gris más claro */
            color: #fff;
            font-weight: 600;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-body {
            padding: 1.5rem;
            background-color: #f9f9f9;
        }

        .card-footer {
            background-color: #f1f1f1;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
        }

        .nav-tabs {
            border-bottom: 2px solid #ddd;
        }

        .nav-item {
            margin-right: 1rem;
        }

        .nav-link {
            border: none;
            color: #333;
            font-weight: 500;
        }

        .nav-link.active {
            color: #007bff;
            border-bottom: 2px solid #007bff;
        }

        .section-header {
            font-size: 1.5rem;
            font-weight: 700;
            color: #333;
            margin-bottom: 1.5rem;
        }

        .container {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .modal-content {
            border-radius: 10px;
        }

        /* Animación para la carga de contenido en los tabs */
        .tab-pane {
            opacity: 0;
            animation: fadeIn 0.5s forwards;
        }

        .tab-content .active {
            opacity: 1;
            animation: fadeIn 0.5s forwards;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .btn-custom {
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
            border-radius: 18px;
            font-weight: 600;
            text-transform: uppercase;
            transition: background-color 0.3s, transform 0.3s;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
            transform: translateY(-2px);
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
            transform: translateY(-2px);
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
            transform: translateY(-2px);
        }
    </style>
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="display-4 mb-4 text-center text-dark">Detalle de la Postulación</h1>
    <hr class="mb-5">

    <!-- Tabs de navegación -->
    <ul class="nav nav-tabs" id="postulacionTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="personal-tab" data-bs-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Datos Personales</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="academicos-tab" data-bs-toggle="tab" href="#academicos" role="tab" aria-controls="academicos" aria-selected="false">Datos Académicos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="tutores-tab" data-bs-toggle="tab" href="#tutores" role="tab" aria-controls="tutores" aria-selected="false">Datos de Tutores</a>
        </li>
        <li class="nav-item" role="presentation">
            {% if ( (postulacion.estado.nombre == "Postulacion en Espera de Aceptacion") or (postulacion.estado.nombre == "Postulacion en Espera de ser Completada") ) %}
            <a class="nav-link bg-warning" id="archivos-tab" data-bs-toggle="tab" href="#archivos" role="tab" aria-controls="archivos" aria-selected="false">Datos de Archivos</a>
            {% else %}
            <a class="nav-link" id="archivos-tab" data-bs-toggle="tab" href="#archivos" role="tab" aria-controls="archivos" aria-selected="false">Datos de Archivos</a>
            {% endif %}
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="asignaturas-tab" data-bs-toggle="tab" href="#asignaturas" role="tab" aria-controls="asignaturas" aria-selected="false">Datos de Materias</a>
        </li>
    </ul>

    <div class="tab-content" id="postulacionTabsContent">
        <!-- Datos Personales -->
        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
            <div class="card shadow-sm border-0 mt-4">
                <div class="card-header">
                    <h5 class="mb-0">Datos Personales</h5>
                </div>
                <div class="card-body">
                    <p><strong>Nombre:</strong> {{ alumno.nombre }}</p>
                    <p><strong>Apellido:</strong> {{ alumno.apellido }}</p>
                    <p><strong>Email:</strong> {{ alumno.email }}</p>
                    <p><strong>Género conforme pasaporte:</strong> {{ genero.nombre_es }}</p>
                    <p><strong>Fecha de nacimiento:</strong> {{ alumno.fecha_de_nacimiento.strftime("%d-%m-%Y") }}</p>
                    <p><strong>País de nacimiento:</strong> {{ pais_nacimiento.nombre_es }}</p>
                    <p><strong>País de residencia:</strong> {{ pais_residencia.nombre_es }}</p>
                    <p><strong>Domicilio de residencia:</strong> {{ alumno.domicilio_pais_de_residencia }}</p>
                    <p><strong>Nacionalidad:</strong> {{ nacionalidad.nombre_es }}</p>
                    {% if pasaporte %}
                        <p><strong>Número de pasaporte:</strong> {{ pasaporte.numero }}</p>
                        <p><strong>País de emisión de pasaporte:</strong> {{ pais_pasaporte.nombre_es }}</p>
                    {% else %}
                        <p><strong>Número de pasaporte:</strong> No posee información asociada.</p>
                        <p><strong>País de emisión de pasaporte:</strong> No posee información asociada.</p>
                    {% endif %}
                    {% if cedula_de_identidad %}
                        <p><strong>Número de cédula de identidad:</strong> {{ cedula_de_identidad.numero }}</p>
                        <p><strong>País de emisión de cédula de identidad:</strong> {{ pais_cedula_de_identidad.nombre_es }}</p>
                    {% else %}
                        <p><strong>Número de cédula de identidad:</strong> No posee información asociada.</p>
                        <p><strong>País de emisión de cédula de identidad:</strong> No posee información asociada.</p>
                    {% endif %}
                    <p><strong>Estado civil:</strong> {{ estado_civil.nombre_es }}</p>
                    {% if alumno.discapacitado %}
                        <p><strong>¿Tiene alguna discapacidad?: </strong>Sí</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Datos Académicos -->
        <div class="tab-pane fade" id="academicos" role="tabpanel" aria-labelledby="academicos-tab">
            <div class="card shadow-sm border-0 mt-4">
                <div class="card-header">
                    <h5 class="mb-0">Datos Académicos</h5>
                </div>
                <div class="card-body">
                    <p><strong>Universidad de origen:</strong> {{ postulacion.universidad_origen }}</p>
                    <p><strong>Nivel de estudio:</strong> 
                        {% if postulacion.de_posgrado %}
                            Posgrado
                        {% else %}
                            Grado
                        {% endif %}
                    </p>
                    <p><strong>Consulado de visación:</strong> {{ postulacion.consulado_visacion }}</p>
                    {% if not programa %}
                        <p><strong>Convenio:</strong> {{ postulacion.convenio }}</p>
                        <p><strong>Programa:</strong> No posee información asociada.</p>
                    {% else %}
                        <p><strong>Convenio:</strong> No posee información asociada.</p>
                        <p><strong>Programa:</strong> {{ programa.nombre }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Datos de Tutores -->
        <div class="tab-pane fade" id="tutores" role="tabpanel" aria-labelledby="tutores-tab">
            <div class="card shadow-sm border-0 mt-4">
                <div class="card-header">
                    <h5 class="mb-0">Datos de Tutores</h5>
                </div>
                <div class="card-body">
                    {% if tutor_institucional %}
                        <p><strong>Tutor Institucional:</strong> {{ tutor_institucional.nombre }} {{ tutor_institucional.apellido }}</p>
                        <p><strong>Email:</strong> {{ tutor_institucional.email }}</p>
                    {% else %}
                        <p><strong>Tutor Institucional:</strong> No posee información asociada.</p>
                        <p><strong>Email:</strong> No posee información asociada.</p>
                    {% endif %}
                    {% if tutor_academico %}
                        <p><strong>Tutor Académico:</strong> {{ tutor_academico.nombre }} {{ tutor_academico.apellido }}</p>
                        <p><strong>Email:</strong> {{ tutor_academico.email }}</p>
                    {% else %}
                        <p><strong>Tutor Académico:</strong> No posee información asociada.</p>
                        <p><strong>Email:</strong> No posee información asociada.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="archivos" role="tabpanel" aria-labelledby="archivos-tab">
            <div class="card shadow-sm border-0 mt-4">
                <h5 class="mb-0">Datos de Archivos</h5>
            </div>
            <div class="card-body">
                <p><strong>Pasaporte:</strong> {{ archivos.pasaporte.titulo }} 
                    {% if archivos.pasaporte.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.pasaporte.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Cédula de identidad:</strong> {{ archivos.cedula_de_identidad.titulo }} 
                    {% if archivos.cedula_de_identidad.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.cedula_de_identidad.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Carta de recomendación:</strong> {{ archivos.carta_recomendacion.titulo }} 
                    {% if archivos.carta_recomendacion.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.carta_recomendacion.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Certificado B1 de español:</strong> {{ archivos.certificado_b1.titulo }} 
                    {% if archivos.certificado_b1.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.certificado_b1.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Plan de trabajo:</strong> {{ archivos.plan_trabajo.titulo }} 
                    {% if archivos.plan_trabajo.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.plan_trabajo.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Psicofísico:</strong> {{ archivos.psicofisico.titulo }} 
                    {% if archivos.psicofisico.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.psicofisico.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Políticas institucionales:</strong> {{ archivos.politicas_institucionales.titulo }} 
                    {% if archivos.politicas_institucionales.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.politicas_institucionales.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Certificado de discapacidad:</strong> {{ archivos.certificado_discapacidad.titulo }} 
                    {% if archivos.certificado_discapacidad.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.certificado_discapacidad.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Visado:</strong> {{ archivos.visado.titulo }} 
                    {% if archivos.visado.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.visado.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
                <p><strong>Seguro médico:</strong> {{ archivos.seguro_medico.titulo }} 
                    {% if archivos.seguro_medico.path != "sin filename" %}
                        <a href="{{ url_for('postulacion.descargar_archivo', filename=archivos.seguro_medico.path) }}" class="btn btn-primary btn-sm">Descargar</a>
                    {% endif %}
                </p>
          </div>
        </div>
        <div>
            {% if ( (postulacion.estado.nombre == "Postulacion en Espera de Aceptacion") or (postulacion.estado.nombre == "Postulacion en Espera de ser Completada") ) %}
                {% if check_permiso(session, "solicitud_postulacion_aceptar") %}
                    <!-- Botones de acción -->
                    <div class="d-flex justify-content-center mt-4">
                        <!-- Botón para aceptar -->
                        <button type="button" class="btn btn-primary btn-custom mx-2" data-bs-toggle="modal" data-bs-target="#acceptModal">
                            Aceptar archivos nuevos
                        </button>
                        <!-- Botón para rechazar -->
                        <button type="button" class="btn btn-danger btn-custom mx-2" data-bs-toggle="modal" data-bs-target="#rejectModal">
                            Rechazar archivos nuevos
                        </button>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="tab-pane fade" id="asignaturas" role="tabpanel" aria-labelledby="asignaturas-tab">
            <div class="card shadow-sm border-0 mt-4">
                <h5 class="mb-0">Datos de Materias</h5>
            </div>
            <div class="card-body">
                {% if not asignaturas %}
                    <p>No se seleccionaron asignaturas</p>
                {% else %}
                    {% for asignatura in asignaturas %}
                        <p><strong>Asignatura:</strong> {{ asignatura.nombre }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if postulacion.estado.nombre == "Solicitud de Postulacion" %}
        {% if check_permiso(session, "solicitud_postulacion_aceptar") %}
            <!-- Botones de acción -->
            <div class="d-flex justify-content-center mt-4">
                <!-- Botón para aceptar -->
                <button type="button" class="btn btn-primary btn-custom mx-2" data-bs-toggle="modal" data-bs-target="#acceptModal">
                    Aceptar Solicitud de Postulación
                </button>
                <!-- Botón para rechazar -->
                <button type="button" class="btn btn-danger btn-custom mx-2" data-bs-toggle="modal" data-bs-target="#rejectModal">
                    Rechazar Solicitud de Postulación
                </button>
            </div>
        {% endif %}
    {% endif %}

    <!-- Modal de Aceptar -->
    <div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="acceptModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="{{ url_for('postulacion.aceptar_solicitud', id_postulacion=postulacion.id) }}" enctype="multipart/form-data" method="POST" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="modal-header">
                        {% if postulacion.estado.nombre == "Solicitud de Postulacion" %}
                        <h5 class="modal-title" id="acceptModalLabel">Aceptar Solicitud de Postulación</h5>
                        {% elif ( (postulacion.estado.nombre == "Postulacion en Espera de Aceptacion") or (postulacion.estado.nombre == "Postulacion en Espera de ser Completada") ) %}
                        <h5 class="modal-title" id="acceptModalLabel">Aceptar archivos nuevos</h5>
                        {% else %}
                        <h5 class="modal-title" id="acceptModalLabel">Error, estado no cubierto</h5>
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if postulacion.estado.nombre == "Solicitud de Postulacion" %}
                        ¿Estás seguro de que deseas aceptar esta solicitud de postulación? <br>
                        Esta acción no se podrá deshacer, se creará un nuevo usuario en el sistema correspondiente al alumno entrante y se le notificará vía mail.
                        {% elif postulacion.estado.nombre == "Postulacion en Espera de Aceptacion" %}
                        <div class="mb-3">
                            {{ form.precarga.label }}{{ form.precarga(class="form-control") }}
                            {% if form.errors %}
                                {% for error in form.precarga.errors %}
                                    <div class="text-danger">{{ form.errors[0] }}
                                        <span style="color: red;">{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        ¿Estás seguro de que deseas aceptar los archivos subidos por el alumno? <br>
                        Archivos a verificar: Psicofisico firmado, Politicas institucionales firmadas.
                        {% elif postulacion.estado.nombre == "Postulacion en Espera de ser Completada" %}
                        ¿Estás seguro de que deseas aceptar los archivos subidos por el alumno? <br>
                        Archivos a verificar: Visado, seguro medico.
                        {% else %}
                        Error, estado no cubierto
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal de Rechazar -->
    <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="{{ url_for('postulacion.rechazar_solicitud', id_postulacion=postulacion.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rejectModalLabel">Rechazar Solicitud</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            {% if postulacion.estado.nombre == "Solicitud de Postulacion" %}
                            ¿Estás seguro de que deseas rechazar esta solicitud de postulación? <br> Esta acción no se podrá deshacer. Por favor, ingresa el motivo de rechazo, el cual será enviado al alumno entrante vía mail. <br>
                            {% elif postulacion.estado.nombre == "Postulacion en Espera de Aceptacion" %}
                            ¿Estás seguro de que deseas rechazar los archivos subidos por el alumno? <br>
                            Archivos a verificar: Psicofisico firmado, Politicas institucionales firmadas. <br>
                            {% else %}
                            Error, estado no cubierto
                            {% endif %}
                            <label for="rejectReason" class="form-label"><strong>Motivo de Rechazo:</strong></label>
                            <textarea class="form-control" id="rejectReason" name="reject_reason" rows="4" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Rechazar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        {% if postulacion.estado.nombre == "Postulacion Validada por Facultad" and rol == "alumno" %}
        <a href="{{ url_for('postulacion.ingresar_datos_estadia', id_postulacion=postulacion.id) }}" type="button" class="btn btn-primary btn-custom mx-2">
            Siguiente Formulario
        </a>


        {% endif %}
    </div>
    <div>
        {% if postulacion.estado.nombre == "Postulacion Aceptada" and rol == "alumno" %}
            <a href="{{ url_for('postulacion.visado_seguro_medico', id_postulacion=postulacion.id) }}" type="button" class="btn btn-primary btn-custom mx-2">
                Siguiente Formulario
            </a>
        {% endif %}
    </div>
    <div>
        {% if postulacion.estado.nombre == "Postulacion Iniciada" or postulacion.estado.nombre == "Postulacion Invalidada por Facultad" and rol == "alumno" %}
            <a href="{{ url_for('postulacion.seleccionar_materias', postulacion_id=postulacion.id) }}" type="button" class="btn btn-primary btn-custom mx-2">
                Seleccionar Materias
            </a>
        {% endif %}
    </div>

</div>
{% endblock %}
