{% extends "layout.html" %}
{% block title %}Crear Usuario{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container mt-5">
    
    <form method="POST" class="container-fluid full-height d-flex justify-content-center align-items-center" style="max-width: 500px; max-height: 750px; overflow: hidden;">
        {{ formulario.csrf_token }}
        <div class="container my-5">
            
            <div class="mb-3">
                {{ formulario.nombre.label }}{{ formulario.nombre(class="form-control") }}
                {% if formulario.errors %}
                    {% for error in formulario.nombre.errors %}
                        <div class="text-danger">{{ formulario.errors[0] }}
                            <span style="color: red;">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="mb-3">
                {{ formulario.apellido.label }}{{ formulario.apellido(class="form-control") }}
                {% if formulario.errors %}
                    {% for error in formulario.apellido.errors %}
                        <div class="text-danger">{{ formulario.errors[0] }}
                            <span style="color: red;">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="mb-3">
                {{ formulario.email.label }}{{ formulario.email(class="form-control") }}
                {% if formulario.errors %}
                    {% for error in formulario.email.errors %}
                        <div class="text-danger">{{ formulario.errors[0] }}
                            <span style="color: red;">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="mb-3">
                {{ formulario.contraseña.label }}{{ formulario.contraseña(class="form-control") }}
                {% if formulario.errors %}
                    <div class="text-danger">{{ formulario.errors[0] }}</div>
                {% endif %}
                {% for error in formulario.contraseña.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ formulario.id_rol.label }}{{ formulario.id_rol(class="form-select", id="id_rol") }}
                {% if formulario.id_rol.errors %}
                    <div class="text-danger">{{ formulario.id_rol.errors[0] }}</div>
                {% endif %}
            </div>

            <div class="mb-3" id="grado-container" style="display: none;">
                <label for="grado-checkbox" class="form-label">¿Es de grado?</label>
                <input type="checkbox" id="grado-checkbox" name="grado" value="true" class="form-check-input">
            </div>
            <div class="mb-3" id="posgrado-container" style="display: none;">
                <label for="posgrado-checkbox" class="form-label">¿Es de posgrado?</label>
                <input type="checkbox" id="posgrado-checkbox" name="posgrado" value="true" class="form-check-input">
            </div>

            <button type="submit" class="btn btn-primary my-3">Crear</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const rolSelector = document.getElementById("id_rol");
        const posgradoContainer = document.getElementById("posgrado-container");
        const gradoContainer = document.getElementById("grado-container");

        // Escuchar cambios en el selector de roles
        rolSelector.addEventListener("change", function() {
            if (rolSelector.value == 3) {
                // Mostrar el checkbox si el rol es "punto_focal"
                posgradoContainer.style.display = "block";
                gradoContainer.style.display = "block";
            } else {
                // Ocultar el checkbox para otros roles
                posgradoContainer.style.display = "none";
                gradoContainer.style.display = "none";
            }
        });
    });
</script>
{% endblock %}