{% extends "layout.html" %}
{% block title %}Detalle Usuario{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="POST" action={{ url_for('usuarios.editar_usuario', id_usuario=usuario.id) }} class="container-fluid full-height d-flex justify-content-center align-items-center" style="max-width: 500px; max-height: 750px; overflow: hidden;">
        {{ formulario.csrf_token }}
        <div class="container my-5">

            <div class="mb-3">
                {{ formulario.nombre.label }}{{ formulario.nombre(class="form-control", readonly=True) }}
            </div>

            <div class="mb-3">
                {{ formulario.apellido.label }}{{ formulario.apellido(class="form-control", readonly=True) }}
            </div>

            <div class="mb-3">
                {{ formulario.email.label }}{{ formulario.email(class="form-control", readonly=True) }}
            </div>

            <div class="mb-3">
                {{ formulario.id_rol.label }}{{ formulario.id_rol(class="form-control", disabled=True) }}
            </div>

            {% if check_permiso(session, "punto_focal") %}
                <div class="mb-3">
                    {{ formulario.facultad_id.label }}{{ formulario.facultad_id(class="form-control", disabled=True) }}
                </div>
                <div class="mb-3">
                    {{ formulario.posgrado.label }}{{ formulario.posgrado(class="checkbox", disabled=True) }}
                </div>
                <div class="mb-3">
                    {{ formulario.grado.label }}{{ formulario.grado(class="checkbox", disabled=True) }}
                </div>
            {% endif %}



            {% if check_permiso(session, 'admin') or usuario.id == get_id_sesion(session) %}
                <button type="submit" class="btn btn-primary">Editar</button>
            {% endif %} 
                     
        </div>
    </form>
</div>
{% endblock %}
