{% extends "layout.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <form method="POST" action={{ url_for('usuarios.actualizar_usuario', id_usuario=usuario.id) }} onsubmit="return confirmarEliminacion();" class="container-fluid full-height d-flex justify-content-center align-items-center" style="max-width: 500px; max-height: 750px; overflow: hidden;">
        {{ formulario_usuario.csrf_token }}
        {{ formulario_contraseña.csrf_token }}
        
        <div class="container my-5">
            
            {% if check_permiso(session, "admin") or check_permiso(session, "gestor") or check_permiso(session, "punto_focal") %}
                <div class="mb-3">
                    {{ formulario_usuario.nombre.label }}{{ formulario_usuario.nombre(class="form-control") }}
                    {% if formulario_usuario.errors %}
                        {% for error in formulario_usuario.nombre.errors %}
                            <div class="text-danger">{{ formulario_usuario.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ formulario_usuario.apellido.label }}{{ formulario_usuario.apellido(class="form-control") }}
                    {% if formulario_usuario.errors %}
                        {% for error in formulario_usuario.apellido.errors %}
                            <div class="text-danger">{{ formulario_usuario.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {{ formulario_usuario.email.label }}{{ formulario_usuario.email(class="form-control") }}
                    {% if formulario_usuario.errors %}
                        {% for error in formulario_usuario.email.errors %}
                            <div class="text-danger">{{ formulario_usuario.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% if check_permiso(session, "punto_focal") %}
                <div class="mb-3">
                    {{ formulario_usuario.facultad_id.label }}{{ formulario_usuario.facultad_id(class="form-control") }}
                    {% if formulario_usuario.errors %}
                        {% for error in formulario_usuario.facultad_id.errors %}
                            <div class="text-danger">{{ formulario_usuario.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ formulario_usuario.posgrado.label }}{{ formulario_usuario.posgrado(class="checkbox", checked=formulario_usuario.posgrado.data) }}
                </div>
                <div class="mb-3">
                    {{ formulario_usuario.grado.label }}{{ formulario_usuario.grado(class="checkbox", checked=formulario_usuario.grado.data) }}
                </div>
            {% endif %}

            {% if usuario.id == get_id_sesion(session) %}
                <div class="mb-3">
                    {{ formulario_contraseña.nueva_contraseña.label }}{{ formulario_contraseña.nueva_contraseña(class="form-control") }}
                    {% if formulario_contraseña.errors %}
                        {% for error in formulario_contraseña.nueva_contraseña.errors %}
                            <div class="text-danger">{{ formulario_contraseña.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    {{ formulario_contraseña.confirmar_contraseña.label }}{{ formulario_contraseña.confirmar_contraseña(class="form-control") }}
                    {% if formulario_contraseña.errors %}
                        {% for error in formulario_contraseña.confirmar_contraseña.errors %}
                            <div class="text-danger">{{ formulario_contraseña.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas editar este usuario?");
    }
</script>
{% endblock %}
