<div class="container mt-5">
    <form method="POST" action={{ url_for('usuarios.actualizar_usuario', id_usuario=usuario.id) }} onsubmit="return confirmarEliminacion();" class="container-fluid full-height d-flex justify-content-center align-items-center" style="max-width: 500px; max-height: 750px; overflow: hidden;">
        {{ formulario.csrf_token }}
        <div class="container my-5">
            
            <div class="mb-3">
                {{ formulario.nombre.label }}{{ formulario.nombre(class="form-control") }}
                {% if formulario.errors %}
                    {% for error in formulario.nombre.errors %}
                        <div class="text-danger">{{ formulario.errors[0] }}
                            <span style="color: red;">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="mb-3">
                {{ formulario.apellido.label }}{{ formulario.apellido(class="form-control") }}
                {% if formulario.errors %}
                    {% for error in formulario.apellido.errors %}
                        <div class="text-danger">{{ formulario.errors[0] }}
                            <span style="color: red;">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="mb-3">
                {{ formulario.email.label }}{{ formulario.email(class="form-control") }}
                {% if formulario.errors %}
                    {% for error in formulario.email.errors %}
                        <div class="text-danger">{{ formulario.errors[0] }}
                            <span style="color: red;">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que deseas eliminar este usuario?");
    }
</script>
