{% extends "layout.html" %}

{% block title %}
    Iniciar sesión
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 600px;">
    <div class="card shadow p-4" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Iniciar Sesión</h5>
            <form action="{{ url_for('auth.authenticate') }}" method="POST">
                {{ formulario.csrf_token }}
                <div class="mb-3">
                    {{ formulario.email.label }}{{ formulario.email(class="form-control") }}
                    {% if formulario.errors %}
                        {% for error in formulario.email.errors %}
                            <div class="text-danger">{{ formulario.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ formulario.contraseña.label }}{{ formulario.contraseña(class="form-control") }}
                    {% if formulario.errors %}
                        {% for error in formulario.contraseña.errors %}
                            <div class="text-danger">{{ formulario.errors[0] }}
                                <span style="color: red;">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="text-end">
                    <a href="{{ url_for('usuarios.recuperar_contraseña') }}" class="text-primary text-end">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" class="btn btn-primary my-3">Iniciar Sesion</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
