{% extends "layout.html" %}

{% block title %}
    Iniciar sesión
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-5">

    <form action="{{ url_for('auth.authenticate') }}" method="POST">
        {{ formulario.csrf_token }}
        <div class="mb-3">
            {{ formulario.email.label }}{{ formulario.email(class="form-control") }}
            {% if formulario.errors %}
                {% for error in formulario.email.errors %}
                    <div class="text-danger">{{ formulario.errors[0] }}
                        <span style="color: red;">{{ error }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3">
            {{ formulario.contraseña.label }}{{ formulario.contraseña(class="form-control") }}
            {% if formulario.errors %}
                {% for error in formulario.contraseña.errors %}
                    <div class="text-danger">{{ formulario.errors[0] }}
                        <span style="color: red;">{{ error }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      
        <div class="row mb-4">      
          <div class="col">
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      
        <button type="submit" class="btn btn-primary my-3">Iniciar Sesion</button>
      
      </form>
</div>
{% endblock %}
