{% extends "layout.html" %}

{% block title %}Detalles de Carrera{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="m-0">Datos de Carrera <strong>{{ carrera.nombre }}</strong></h1>
            </div>
        </div>
        <div class="row justify-content-center my-3 py-3 border-bottom border-top">
            <div class="col-6">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row" class="text-end">Nombre:</th>
                        <td class="text-start">{{ carrera.nombre }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-end">Tipo de carrera:</th>
                        <td class="text-start">{{ carrera.tipo_carrera.nombre }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-end">Facultad de la que depende:</th>
                        <td class="text-start">{{ carrera.facultad.nombre }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-lg">
        <div class="row align-items-center border-bottom">
            <div class="col">
                <h2 class="m-0">Asignaturas</h2>
            </div>
            {% if check_permiso(session, 'carreras_editar') %}
                <div class="col text-end">
                    <a href="{{ url_for("carreras.listado_asignar_asignaturas", carrera_id = carrera.id) }}" type="button" class="btn btn-success">Asignar asignaturas</a>
                </div>
            {% endif %}
        </div>
        <div class="table-responsive">
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col" class="text-center">Facultad</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for asignatura in asignaturas %}
                        <tr>
                            <th scope="row" class="align-middle">{{ asignatura.nombre }}</th>
                            <td class="text-center align-middle">{{ asignatura.facultad.nombre }}</td>
                            <td class="text-center align-middle">
                                <div class="btn-group">
                                    <a href="{{ url_for("asignaturas.visualizar", asignatura_id = asignatura.id) }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Ver"><i class="bi bi-eye-fill"></i></a>
                                    {% if check_permiso(session, 'carreras_editar') %}
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-{{ asignatura.id }}" data-asignatura-id="{{ asignatura.id }}" data-bs-title="Eliminar">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                        <div class="modal fade" id="confirmDeleteModal-{{ asignatura.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Estás seguro que deseas desasignar la asignatura {{ asignatura.nombre }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancelar</button>
                                                        <form method="POST" action="{{ url_for("carreras.desasignar_asignatura", asignatura_id = asignatura.id, carrera_id = carrera.id) }}">
                                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-secondary me-2" href="{{ url_for("facultades.visualizar", facultad_id = carrera.facultad.id) }}" role="button">{{ carrera.facultad.acronimo }}</a>
                {% if check_permiso(session, 'carreras_editar') %}
                    <a class="btn btn-primary me-2" href="{{ url_for("carreras.editar", carrera_id = carrera.id) }}" role="button">Editar</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
