{% extends "layout.html" %}

{% block title %}Facultades{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="display-5 text-center mb-4">Facultades</h1>
        <hr class="mb-4">

        <div class="table-responsive shadow-sm">
            <table class="table table-bordered table-hover table-striped align-middle">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acrónimo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for facultad in facultades %}
                    <tr>
                        <th>{{ facultad.nombre }}</th>
                        <td class="text-center align-middle">{{ facultad.acronimo }}</td>
                        <td class="text-center align-middle">
                            <div class="btn-group">
                                <a href="{{ url_for('facultades.visualizar', facultad_id=facultad.id) }}" class="btn btn-primary" data-bs-toggle="tooltip"
                                   data-bs-title="Ver"><i class="bi bi-eye-fill"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <script>
        
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        const nombre = document.getElementById("nombre");
        const change_filters = () => {
            const url = URL.parse(window.location.href);
            const current_url = url.toString();
            const params = url.searchParams;
            if (!params.has("nombre") || (params.get("nombre") !== nombre.value)) {
                params.set("nombre", nombre.value);
            }
            if (current_url !== url.toString()) {
                window.location.href = url.toString();
            }
        };
        nombre.addEventListener("change", change_filters);

    </script>
{% endblock %}