{% extends "layout.html" %}

{% block title %}Facultades{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="display-5 text-center mb-4">Facultades</h1>
        <hr class="mb-4">
        <div class="col text-end">
            <a href="{{ url_for('facultades.crear') }}" type="button" class="btn btn-success">Nueva Facultad</a>
        </div>

        <div class="table-responsive shadow-sm">
            <table class="table table-bordered table-hover table-striped align-middle">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acrónimo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for facultad in facultades %}
                    <tr>
                        <th>{{ facultad.nombre }}</th>
                        <td class="text-center align-middle">{{ facultad.acronimo }}</td>
                        <td class="text-center align-middle">
                            <div class="btn-group">
                                <a href="{{ url_for('facultades.visualizar', facultad_id=facultad.id) }}" class="btn btn-primary" data-bs-toggle="tooltip"
                                   data-bs-title="Ver"><i class="bi bi-eye-fill"></i>
                                </a>
                                <a href="{{ url_for("facultades.editar", facultad_id=facultad.id) }}" class="btn btn-warning" data-bs-toggle="tooltip"
                                   data-bs-title="Editar"><i class="bi bi-pencil-fill"></i></a>
                                <button type="button" class="btn btn-danger" data-bs-title="Eliminar" data-bs-toggle="modal" data-bs-target="#confirmDeleteModalFacultad-{{ facultad.id }}" data-facultad-id="{{ facultad.id }}" data-bs-title="Eliminar">
                                   <i class="bi bi-trash-fill"></i>
                                </button>
                                <div class="modal fade" id="confirmDeleteModalFacultad-{{ facultad.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro que deseas eliminar {{ facultad.nombre }}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <form method="POST" action="{{ url_for("facultades.eliminar", facultad_id = facultad.id) }}">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <script>
        
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        const nombre = document.getElementById("nombre");
        const change_filters = () => {
            const url = URL.parse(window.location.href);
            const current_url = url.toString();
            const params = url.searchParams;
            if (!params.has("nombre") || (params.get("nombre") !== nombre.value)) {
                params.set("nombre", nombre.value);
            }
            if (current_url !== url.toString()) {
                window.location.href = url.toString();
            }
        };
        nombre.addEventListener("change", change_filters);

    </script>
{% endblock %}